.gfi-input {
  position:relative;

  input{
    border:0;
    border-bottom:1px solid rgba(41, 41, 41, 0.39);

    &:focus{
      border-bottom:1px solid #ee8023;
    }
  }

  .gfi-input-text {
    font-size: 14px;
    width: 100%;
    height: 35px;
  }

  .gfi-input-label {
    color: darkgrey;
    position: absolute;
    pointer-events: none;
    top:6.5px;
    left: 0;
    transition: 0.2s ease all;

    &:not(:focus){
      color:darkgrey;
    }
  }

  .gfi-input-text:focus ~ .gfi-input-label,
  .gfi-input-text:not(:focus):valid ~ .gfi-input-label{
    top: -5px;
    bottom: 10px;
    font-size: 10px;
    opacity: 1;
  }

  .gfi-input-text:focus ~ .gfi-input-label{
    color: #ee8023;
  }

}
