html, body {
  height: 100%;
  padding: 10px;
  background: url('/src/img/home-pattern.png') repeat fixed;
}

a {
  color: #f8b400 !important;
  cursor: pointer;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
