html, body {
  height: 100%;
  padding: 10px;
  background: url('/src/img/home-pattern.png') repeat fixed;
}

a {
  color: #ee8023 !important;
  cursor: pointer;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.img-cover{
	display: block;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
	object-fit: cover;
}

.no-border{
  border-radius: 0 !important;
}
